fastapi
uvicorn
sqlalchemy
pyodbc
alembic
pydantic-settings
python-dotenv
python-jose
passlib[bcrypt]
loguru
pytest
httpx
sqlalchemy
pyodbc
pymysql
alembic
passlib[bcrypt]>=1.7.4
python-jose[cryptography]>=3.5.0
python-multipart>=0.0.20
pydantic[email]
azure-storage-blob
transformers
timm
accelerate
pillow
torch 
torchvision
requests
azure-ai-ml>=1.25.0
azure-identity>=1.19.0
azure-storage-blob>=12.25.0
azure-core>=1.34.0