fastapi
uvicorn
sqlalchemy
pyodbc
alembic
pydantic-settings
python-dotenv
python-jose
passlib[bcrypt]
loguru
pytest
httpx
sqlalchemy
pyodbc
pymysql
alembic
passlib[bcrypt]>=1.7.4
python-jose[cryptography]>=3.5.0
python-multipart>=0.0.20
pydantic[email]